* {
    padding: 0;
    margin: 0;
}

#List {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

li {
    display: flex;
    background-color: white;
    align-items: center;
    border-radius: 10px;
    width: 23vw; 
    margin-bottom: 10px;
    border: 1px solid black; 
    box-sizing: border-box; 
}

img {
    width: 100px;
    height: auto;
    margin-bottom: 5px;
}

.foto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 2vw;
    align-items: center;
}

.foto .tipo{
    margin-bottom: 2vh;
}


.nome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    margin: 6vh 0 0 2vw;
    
}

.nome p{
    margin-bottom: 10vh;
}

.direita{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: 25px;
}

.buttonDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 25px;
    margin-bottom: 10px;
}

.buttonDiv button:hover {
    opacity: 0.7;
}

.buttonDiv button:active {
    transform: translateY(2px);
}

.adicionarButton{
    padding: 2px;
    background-color: black;
    color: white;
}

.detalhesButton{
    margin-top: 6px;
    padding: 2px;
    background-color: white;
    color: black;
}

.detalhesButton, .adicionarButton{
    cursor: pointer;
    border: solid 1px black;
}

.tipo{
    display: flex;
    justify-content: center;
    margin: 1vh 0 0 0;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.tipo p{
    margin-bottom: 5px;
    background-color: rgb(97, 97, 97, 0.5);
    width: fit-content;
    border-radius: 10px;
    padding: 4px;
}

.tipo span:not(:empty) {
    background-color: rgba(97, 97, 97, 0.5);
    width: fit-content;
    border-radius: 10px;
    padding: 4px;
}

.dialog{
    width: 30vw;
    height: 70vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nomeDialog{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.status {
    display: flex;
    align-items: left;
    text-align: left;
    margin-top: 15px;
    margin-left: 5px;
}

.status p {
    font-size: larger;
    margin-top: 5px;
}

.barra-dano-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 20px;
    width: 70%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 10px; 
}

.barra-dano {
    height: 100%;
    background-color: #4CAF50;
    position: relative;
    width: 100%;
}

.numero-dano {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(+50%, -50%); 
    color: #fff;
    z-index: 2;
    display: flex;
    align-items: center;
}

