@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #1c1c1c;
    font-family: 'Rubik', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #f0f0f0;
}

ul {
    list-style-type: none;
}

main {
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

/* Header */
.container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px
}

.header-bg {
    background: linear-gradient(90deg, #f0f0f0 17%, #fff 56%)
}

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    color: #141414;
    transition: all .2s;
}

.header-menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 12px 12px;
    border-radius: 30px;
    transition: all .2s;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.header-menu a:hover {
    background-color: #2e2e2e;
    color: #f7f7f7;
    transform: translateY(-2px)
}

.logo img {
    max-width: 50px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left
}

/* Pokemon */
.pokemon-lista {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.pokemon {
    border-radius: 1rem;
    background-color: #f7f7f7;
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .25);
    padding-block: 1rem;
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    background-image: url(img/pokeball-gray.svg);
    background-size: cover;
    background-position: center;
}

.foto {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}

.foto img {
    width: 100%;
    max-width: 6rem;
}

.informacao {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}

.nome {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.nome h2 {
    font-size: 1.4rem;
}

.statusAltura {
    background-color: #ececec;
    padding: .25rem .5rem;
    border-radius: 100vmax;
}

.statusPeso {
    background-color: #ececec;
    padding: .25rem .5rem;
    border-radius: 100vmax;
}

/* Tipos */
.tipo {
    display: flex;
    gap: .5rem;
    font-size: .75rem;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
}

.tipo p {
    padding: .25rem .5rem;
    border-radius: 100vmax;
}

.normal {
    background-color: #A8A878;
    color: black;
}

.grass {
    background-color: #78C850;
    color: black;
}

.fire {
    background-color: #F08030;
    color: black;
}

.water {
    background-color: #6890F0;
    color: black;
}

.electric {
    background-color: #F8D030;
    color: black;
}

.ice {
    background-color: #98D8D8;
    color: black;
}

.fighting {
    background-color: #C03028;
    color: black;
}

.poison {
    background-color: #A040A0;
    color: black;
}

.ground {
    background-color: #E0C068;
    color: black;
}

.flying {
    background-color: #A890F0;
    color: black;
}

.psychic {
    background-color: #F85888;
    color: black;
}

.bug {
    background-color: #A8B820;
    color: black;
}

.rock {
    background-color: #B8A038;
    color: black;
}

.ghost {
    background-color: #705898;
    color: black;
}

.dark {
    background-color: #705848;
    color: black;
}

.dragon {
    background-color: #7038F8;
    color: black;
}

.steel {
    background-color: #B8B8D0;
    color: black;
}

.fairy {
    background-color: #F0B6BC;
    color: black;
}

.pokemon-status {
    display: flex;
    gap: 1rem;
    font-size: .85rem;
}

/* Botão */
.buttonDiv button:hover {
    opacity: 0.7;
}

.buttonDiv button:active {
    transform: translateY(2px);
}

.adicionarButton {
    padding: .25rem .5rem;
    border-radius: 100vmax;
    background-color: rgb(53, 53, 53);
    font-weight: 500;
    color: white;
}

.detalhesButton {
    padding: .25rem .5rem;
    border-radius: 100vmax;
    background-color: rgb(53, 53, 53);
    font-weight: 500;
    color: white;
}

.detalhesButton,
.adicionarButton {
    cursor: pointer;
    border: solid 1px rgb(53, 53, 53);
}

.dialog {
    width: 45%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Rubik', sans-serif;
    border-radius: 30px;
    border: none;
}

.conteudoDialog {
    width: auto;
    display: flex;
    color: white;
    z-index: 3;
}

.status {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 34%;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
}

.status p {
    font-size: larger;
    margin-top: 5px;
    width: 157px;
}

.barra-dano-container {
    display: flex;
    justify-content: flex-start;
    height: 20px;
    width: 40%;
    margin-top: 10px;
    margin-left: 25px;
    font-size: .8rem;
}

.barra-dano-container .numero-dano {
    font-size: small;
    font-weight: normal;
    margin-left: 1%;
}

.barra-dano {
    height: 25px;
    border-radius: 10px;
}

.numero-dano {
    display: flex;
    justify-content: left;
    
    position: absolute;
    color: white;
}

/* Dialog */
.content {
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 40px;
    position: relative;
}

.pokemonView {
    display: flex;
    justify-content: center;
    width: 100%;
}

.conteudoDialog>div {
    width: 100%;
    display: block;
}

.subgrid {
    min-width: 55%;
    display: grid;
    grid-template-areas:
        "emoji type"
        "emoji name"
        "details details";
    grid-template-rows: 200px min-content min-content min-content;
    grid-template-columns: min-content;
}

.type {
    margin-top: auto;
    grid-area: type;
    text-transform: uppercase;
    margin-left: 10px;
    font-weight: 500;
    display: flex;
    gap: .5rem;
    transform: translateY(235%);
}

.type p {
    color: black;
    padding: .25rem .5rem;
    border-radius: 100vmax;
}

.subgrid .nomeDialog {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 4em;
    line-height: 60px;
    color: black;
}

.detalhes {
    padding-top: 6px;
    grid-area: details;
    width: 100%;
}

.detalhes p {
    font-weight: bold;
}

.row {
    display: flex;
    text-transform: capitalize;
}

span {
    padding-left: 10px;
}

.picture {
    flex-direction: row;
    display: flex;
    pointer-events: none;
    height: 200px;
    width: 200px;
    z-index: 2;
    text-align: center;
    gap: 150px;
    transform: translateX(-30%);
}

.picture img {
    position: relative;
    height: 200px;
    width: 200px;
}

.pokemon-id-back {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10rem;
    font-weight: 800;
    z-index: -1;
    color: #cececebb;
}

.content .aviso {
    margin-top: 57px;
    position: absolute;
    transform: translateX(280%);
    font-size: 2.3rem;
    font-weight: 800;
    color: #cececebb;
    writing-mode: vertical-rl;
    text-orientation: upright;
}