* {
    padding: 0;
    margin: 0;
}

body{
    background-color: orange;
}

#List {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

li {
    display: flex;
    background-color: white;
    align-items: center;
    border-radius: 10px;
    width: 23vw; 
    margin-bottom: 10px;
    border: 1px solid black; 
    box-sizing: border-box; 
}

img {
    width: 100px;
    height: auto;
}

.foto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 2vw;
}

.foto .tipo{
    margin-bottom: 2vh;
}


.nome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    margin: 6vh 0 0 2vw;
    
}

.nome p{
    margin-bottom: 10vh;
}

.buttonDiv{
    padding-bottom: 4vh;
}


.nome .detalhesButton{
    margin-right: 10px;
}

.tipo{
    display: flex;
    justify-content: center;
    margin: 1vh 0 0 0;
    text-align: center;
}

.type-fire{
    background-color: rgb(245, 18, 18);
}

.type-water{
    background-color: rgb(41, 41, 230);
}

.type-grass{
    background-color: rgb(2, 160, 2);
}

.type-bug{
    background-color: rgb(14, 90, 14);
}

.type-normal{
    background-color: gray;
}